@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-title 
{
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #9cff9c;
    margin-bottom: 15px;       
}

.calculator {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  border: 1px solid rgba(255,255,255,0.15);
}



input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: white;
  background: rgba(255,255,255,0.1);
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: rgba(255,255,255,0.25);
  transform: translateY(-2px);
}

button:active {
  transform: scale(0.95);
}


.equalBtn{
         background: linear-gradient(135deg, #ff8c00, #ff5e00);
        color: white;
        font-size: 22px;
}

.operator {
  color: #9cff9c;
  font-weight: bold;
}



.display {
  background: rgba(0,0,0,0.3);
  color: white;
  font-size: 38px;
  text-align: right;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}
































































































































































































































